/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1, h2 {
    font-family: "DM Serif Display", serif;
    color: #184f63;
}

/* Header */
#hero {
    background: url(../images/background.webp);
    background-size: cover;
    background-color: lightgrey;
    min-height: 500px;
    background-position: 50% 70%;
    padding: 5% 7%;
}

/* About section styles */
#about {
    background-color: white;
}

/* Portfolio section styles */
#portfolio {
    background-color: #dbdcde;
}

/* Contact section styles */
#contact {
    background-color: white;
}